/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/fotos-premium/antiguo-almacen-oscuro-interior-industrial-antiguo-almacen-fabrica_177786-2563.jpg'); /* Reemplaza con la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #333;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

/* Estilos específicos para home.php */
h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

/* Estilo para la lista de enlaces en home.php */
ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

ul li a:hover {
    background-color: #3e8e41;
}

/* Botón de cerrar sesión */
.logout-btn {
    margin-top: 20px;
    display: inline-block;
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.logout-btn:hover {
    background-color: #d32f2f;
}

/* Estilo para pantallas más pequeñas */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    
    h1 {
        font-size: 24px;
    }
    
    p {
        font-size: 14px;
    }
    
    ul li a, .logout-btn {
        padding: 10px 15px;
        font-size: 14px;
    }
}

 form {
    display: flex;
    flex-direction: column;
}
